:root{
	--fondo-global: /*linear-gradient(to right, #f2709c, #ff9472)*/ white;
	--fondo-noticias:;
	--fondo-derecha:#f4f4f4;
	--fondo-izquierda:#f4f4f4;
	--fondo-primicias:/*linear-gradient(to right, #b993d6, #8ca6db)*/ #f4f4f4;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
	font-family: 'Open Sans', sans-serif;
}
body{
	background: var(--fondo-global);
}
.ultimasnoticias{
	color: black;
}
.pink{
	color:#ea2c58;
}
.banner{
	width: 100%;
	height: 175px;
	background: url("banner.jpg")fixed no-repeat center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.favicon{
	display: inline-block;
	position: absolute;
}
.nav{
	width: 100%;
	text-align: center;
	background:  linear-gradient(to right, #f2709c, #ff9472);
}
.menu{
	width: 80%;
	display: inline-block;
	background:  linear-gradient(to right, #f2709c, #ff9472);
}
.menu-item{
	display: inline-block;
}
.sub-menu{
	position: absolute;
	display: none;
}
.sub-menu-item{
	display: block;
	margin-left: -40px;
}
.menu-item:hover .sub-menu{   
  	display: block;
}
.link{
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 14px 8px 13px 8px;
}
.link:hover{
	color: white;
	background: black;
}
.notice{
	width: 60%;
	display: inline-block;
	text-align: center;
	/*border: 1px solid black;*/
	background: var(--fondo-noticias);
}
.not1{
	position: relative;
	width: 90%;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	box-shadow: 4px 4px black;
	border: 1px solid #f4f4f4;
	border-top: 1px solid #ea2c58;
	padding: 8px;
	background: var(--fondo-primicias);
	background:-webkit-linear-gradient(to right, #b993d6, #8ca6db);
}
.not1 h3, .not1 p{
	text-align: left;
}
.lateral{
	display: inline-block;
	margin-left: 0%;
	width: 17%;
	height: 1570.57px;
	border: 1px solid #f4f4f4;
	border-top: 1px solid #ea2c58;
	text-align: left;
	padding: 21.43px 8px 8px 8px;
	vertical-align: top;
	text-align: center;
	background: var(--fondo-izquierda);
}
.lateral2{
	display: inline-block;
	margin-left: 0%;
	width: 17%;
	height: 1584px;
	border: 1px solid #f4f4f4;
	border-top: 1px solid #ea2c58;
	text-align: left;
	padding: 8px;
	vertical-align: top;
	background: var(--fondo-derecha);
}
.contenido{
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
a{
	text-decoration: none;
}
/* -------------------------- QUIENES SOMOS ------------*/
.qs, .qh{
	width: 100%;
	text-align: center;
}
.sczd{
	display: inline-block;
	width: 80%;
	text-align: left;
}
.sczd h1{
	text-align: center;
}
.meimg{
	text-align: center;
}
.meimg h4{
	width: 45%;
	display: inline-block;
	border: 1px solid black;
	height: 200px;
}
.megl{
	margin-left: 50px;
}
.qhdiv{
	width: 80%;
	display: inline-block;
}
.qhproject{
	position: relative; /* esto haY QUI ENPONE RLO PARA QUE FUNCION LO DE BOOTOM Y RIGHT 0 DE CLICK HERE"*/
	display: inline-block;
	width: 80%;
	height: 750px;
	border: 1px solid black;
	margin-bottom: 45PX;
}
.moreplus{
	position: absolute;
	display: inline-block;
	bottom: 0; /* NO PONER MARGIN ES MARGIN ES MARGIN Y SIN NADA ES LA DISTRANCIQ QUE DEBE DE HABER*/
	right: 20px;
}
.all{
	display: inline-block;
}
.all1{
	position: relative;
	background: #ffffff;
	height: 250px;
	width: 250px;
	display: inline-block;
	border: 1px solid black;
	margin: 50px 125px;
}
.all1 p{
	position: absolute;
	bottom: 0;

}
.all1 img{
	position: absolute;
	top: 25%;
    left: 50%;
	transform: translate(-50%, -50%); 
}
.max{width: 65%; margin-left: 17.5%; margin-right: 17.5%;}
.max1{width: 65%; margin-left: 0%; margin-right: 17.5%;}
.miembros{
	margin-top: 75px;
}
.sczd{
	margin-bottom: 75px;
	margin-top: 75px;
}
.sczd h1{
	margin-bottom: 35px;
}





.major{
	font-size: 27px;
	font-weight: bolder;
}
.imgdivlate{
	width: 100%;
	height: 175px;
	border-radius: 10px;
}
.laterala1{
	text-align: center; /* funcion aporque el texto lo ocupa todo (teniedno en cuante en padding) por lo que seria como u nwidthg:100%; y por eso sirve poner lo que esta dentro de el al centro*/
}
.centerdivimglate{
	display: inline-block;
	width: 100%;
}
.laterala1 p,.laterala1 h4 {
	text-align: left;
}


.calendar{
	width: 100%;
	height: 18.4px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid black;
}
.calenleftimg{
	position: absolute;
	left: 5px;
	bottom: 0px;

}
.calenleft{
	position: absolute;
	left: 30px;
	bottom: 0;
}
.calenright{
	position: absolute;
	right: 10px;
	bottom: 0;
}
.calendarimgimg{
	height: 18px;
	width: 18px;
}
.conferenceimg{
	position: relative;
	width: 100%;
}
.conferenceimgimg{
	width: 100%;
	height: 300px;
}

.lateralb1 {
	width: 100%;
	text-align: center;
	position: relative;
}
.donate{
	display: inline-block;
	color: white;
	padding: 5% 25%;
	border: 1px solid #ea2c58;
	border-radius:15px; 
	background: #ea2c58;
	transition: 0.25s;
}
.lateralb1 p, .lateralb1 h4{
	text-align: left;
}
.donate:hover{
	background: white;
	color: #ea2c58;
}
.not1 p{
	margin-bottom: 20px;
}
.publi{
	margin:25px 0 75px 0;
}
.mobile {
	position: relative;
	display: inline-block;
	width: 350px;
	height: 425px;
	background: grey;
	margin:75px 30px 0px 30px;
	border: 1px solid #f4f4f4;
}
.intomobile{
	margin:0;
	width: /*348px*/ 350px ;
	height: 60%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: linear-gradient(to right, #b993d6, #8ca6db);
	z-index: 2;
	/*border-bottom:1px solid #f4f4f4; 
	border-left:1px solid #f4f4f4; 
	border-right:1px solid #f4f4f4;*/
}
.imgmobile{
	position: absolute;
	top: 0;
	height:40%;
	border-top: 10px solid #af97d7;/*empuja la imagen hacai abajo ya que el texto de abajo esta en absolute y se ve obligado a antener las medidas*/
	background: url("file:///home/mitsworth_sczd/Desktop/Inymits/img/imgmobile.jpg") no-repeat center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}
.textimmobile{
	position: absolute;
	text-align: justify;
	display: inline-block;
	width: 316px;
	bottom: 25px;
	left: 16px; /*340px width del intmobile */
	margin:0;
}
.infobanner{
	position: relative;
	width: 100%;
	height: 500px;
	background:url("file:///home/mitsworth_sczd/Desktop/Inymits/img/wallpaper.jpg")fixed no-repeat center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.tomate{
	position: relative;
	margin: 0;
	top:50px;
	color: white;
}
.xita{
	width: 100%;
	height: 1000px;
}
.allofus{
	font-size: 75px;
	color: white;
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media only screen and (max-width: 960px) {
  .lateral, .lateral2{
  	display: none;
  }
  .notice{
  	width: 95%;
  }
  .demo{
  	/*display: block;
  	margin-left: 10%;  width:80% restanmte 20 y 10 a R y L*/
  }
}
/*El codigo no esta pulido
	El codigo no esta pulido 
	El codigo no esta pulido 
	El codigo no esta pulido 
	El codigo no esta pulido 
	El codigo no esta pulido 
	El codigo no esta pulido 
	El codigo no esta pulido 
	El codigo no esta pulido !!!!!!!!!
*/